@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("./assets//fonts/Poppins-Regular.ttf");
}


body {
    font-family: "Poppins";
    background-color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}